@charset "UTF-8";


/* ==== Scroll down to find where to put your styles :) ==== */


body { 
    font-family: Helvetica, Arial, sans-serif; 

    margin: 0;
    padding: 0;
    background: #cccccc;
}

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/



body {
   }
p { margin-bottom: 1em; }
a { text-decoration: none; }


#header {
    /*
    top:0px;
    left:0px;
    height:60px;
    background-color:#ffff00;
     */

}

#container {
	width: 1024px;
    height:768px;
    left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: 0px;
	border: 0px;
    overflow:hidden;

}
#content {
	width:1024px;
	margin: 0 auto;
	padding-top: 0px;
	height:768px;
	position:absolute;
    float:left;
    
    

}


#interface{
    /*
     width:1004px;
     margin: 0 auto;
     height:350px;
     position:absolute;
     top:418px;
     left:20px;
     background: url('../images/interface_bground.png') no-repeat;

     */
    background: url('../images/interface_bg.png') no-repeat;
    position:absolute;
    width:1024px;
    top:592px;
    height:300px;
    float:left;
    
    
}

#interface li{

}
#colorPickerLeft{
    
    margin-right:50px;
}
#colorPickerRight{
    position:absolute;
    left:810px;
    top:0px;
}
#sliderHolder {
    position:absolute;

    top:75px;
    margin:0px;
}
#sliderHolder li{
    margin-top:20px;
    list-style-type: none;
}

/* this accellerates rendering for some reason */
#canvas {
    
    -webkit-transform: translate3d(0,0,0); 
}


/* INTERFACE STYLES */



#footer {
	clear: both;
}

/* INPUT STYLES */

